body,html{
	height: 100%;
	margin:0;
}
.heading{
	text-align:center;
	background-color: #eb4641;
	color: white;
	padding: 2% 0%;
}
h1{
	text-transform: uppercase;
}
.play{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
	color: purple;
}

button{
	background-color:#eb4641;
	border: none;
}
.main{
	padding-top: 5%;
	height: 65%;
	background-color: black;
	padding-left: 15%;
}
.first{
	width: 60%;
	height: 200px;
	background-color: black;
	border-radius: 25px;
}